
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div> 
        <p>
            Contact Praveer so far : 082 cant get thruuuuu
        </p>
    </div>
</body>
</html>
